/** @format */

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #000;
	height: 100%;
}

body {
	background: 222;
	background: radial-gradient(#333, #111);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	font-family: "Muli", sans-serif;
	font: 100%/1.5;
	overflow: hidden;
}

#game-container {
	text-align: center;
}

#game-board {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 2;
}

#score-text {
	color: white;
	font-family: "Muli", sans-serif;
	font: 100%/1.5;
	font-size: 50px;
	font-weight: bold;
	padding-top: 100px;
	text-align: center;
}

#reset-btn {
	font-family: "Muli", sans-serif;
	font: 100%/1.5;
	font-size: 22px;
	font-weight: bold;
	color: white;
	background-color: #23272a;
	width: 100px;
	height: 50px;
	border: 0;
	text-align: center;
	cursor: pointer;
	transform: all 200ms ease;
}

#reset-btn:hover {
	transform: scale(1.1);
}
